* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-header {
    width: 100%;
    height: auto; /* altura automática para o cabeçalho */
    position: relative; 
    z-index: 1; /* ordem de posição no eixo z (posição tem que ser relativa) */
}

.menu-bg {
    position: relative; 
    width: 100%; /* largura do cabeçalho (100% DA TELA)*/
    margin-top: -80px;
    z-index: 0;
}
