/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1A1D2E;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

section {
    padding: 20px;
    text-align: center;
}

#carrossel img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#nosso-diferencial, #redes-sociais, #contatos {
    background-color: #B21D2D;
    color: white;
    padding: 40px 0;
}

footer {
    text-align: center;
    background-color: #1A1D2E;
    color: white;
    padding: 10px 0;
}

/* Carrossel (Exemplo Simples de Transição) */
.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel img {
    width: 100%;
    flex: 1 0 100%;
}